.logged-in .esconde-para-logado {display: none;}

#login {max-width: 400px; padding: 30px; border: 1px solid #666; width: 100%; margin: 0 auto; border-radius: 10px;}
#login input {width: 100%; margin-bottom: 5px; text-align: center;}